.chatPage{
    background-color: rgb(31, 29, 29);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageViewer .styles-module_image__2hdkJ{
    max-height: 90%;
}
.chatContainer{
    background-color: white;
    width: 60%;
    height: 70%;
}
.header{
    background-color: crimson;
    height: 15%;
}
.chatBox{
    border: 0.2vmax solid black;
    height: 70%;
    box-sizing: border-box;
}
.viewerPage{
    z-index: 1;
    display: flex;
    align-items: start;
    position: fixed;
    padding: 0px 60px 0px 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}
.viewerPage .downloadBtn{
  margin-top: 2rem;
  z-index: 99;
  margin-left: -7rem;
  border-radius: 1rem;
  border: navajowhite;
  background: #ffb6b6;
  cursor: pointer;
}
.EmojiPickerReact{
    width: -webkit-fill-available !important;
}
.chatContainer .chatBox button{
    clip-path: polygon(0 0, calc(100% - 30px) 18%, 80% 17%, 42% 87%);
    width: 30px;
    height: 25px;
    background-color: black;
}
#ReactSimpleImageViewer{
    position: relative;
}
.styles-module_navigation__1pqAE{
    display: none !important;
}
.inputBox{
    border: 0.2vmax solid black;
    height: 15%;
    box-sizing: border-box;
    display: flex;
}
.inputBox .emojiIcon{
    cursor: pointer;
}
#chatInput{
    width: 80%;
    font-size: 1.2vmax;
    border: none;
    outline: none;
    padding: 1vmax;
    box-sizing: border-box;
}
.sendBtn{
    width: 20%;
    border: none;
    outline: none;
    padding: 1vmax;
    background-color: crimson;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
}
.sendBtn:hover{
    background-color: rgb(145, 14, 40);
}